<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/view-customers.css">
    <title>View Customers</title>
</head>
<body>
    <% customers.forEach((item, index) => { %>
        <div class="customer">
            <h2>Name: <%= item.name %></h2>
            <p>Username: <%= item.username %></p>
            <p>Address: <%= item.address %></p>
            <p>Birthdate: <%= item.birthdate %></p>
            <p>Email: <%= item.email %></p>
            <p>Accounts</p>
            <ul>
                <% item.accounts.forEach((accItem, index) => { %>
                    <li><%= accItem %></li>
                <% }) %>
            </ul>
            <ul>
                <% for (const [key, tierItem] of Object.entries(item.tier_and_details)) { %>
                    <li class="tier-item">
                        <p>Tier: <%= tierItem.tier %></p>
                        <p>Benefits:</p>
                        <ul>
                        <% tierItem.benefits.forEach((benefitItem, index) => { %>
                            <li><%= benefitItem %></li>
                        </ul>
                        <% }) %>
                        <% if (tierItem.active == true) { %>
                            <p>Active: Yes</p>
                        <% } else { %>
                            <p>Active: No</p>
                        <% } %>
                <% } %>
                </li>
            </ul>
        </div>
    <% }) %>
    <%- include('partials/footer.ejs') %>
</body>
</html>